.row-fluid
	.span6.well
		%h1	
			Your profile
.row-fluid
	.span6
		%h2
			Your details
		%ul.unstyled
			%li
				Name: 
				= @user.name
	.span6
		%h2 Enter more info
		%p Form for more info r.e. user here
		%p e.g. occupation, level, country etc

.row-fluid
	%h2.well Your links
	%ol
		- @user.links.order("score DESC").each do |link|
			%li= "#{link.name} - #{link.score}"