.row-fluid
	%h1	Welcome to the profile page
	%ul
		= link_to image_tag( 'https://api.twitter.com/1/users/profile_image?screen_name=stevancw&size=bigger'), 'http://www.twitter.com/stevancw'
		%h4
			=@user.name