<!DOCTYPE html>
<html>
	<head>
	  <title>Hinfo</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">Cut-Throat Health</a>
          <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>  
    </div>
    

  </body>
</html>
