/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require topics 
 *= require links 


*/

body {
	padding-top: 60px;
}

.accordion-heading:hover{
	background-color:#d7d7d7;
}

#search-box {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 2em;
	font-size: 1.7em;
	text-align: left;
	font-family: Georgia;
	font-style: italic;
}

#social-icon img {
	height: 3em;
	width: auto;
	float: left;
	padding-top: 0.8em;
	margin: 0.4em 0.6em -0.8em 0.6em;
}

#signin-status {
	margin: 0 20px;
}